<p id="notice"><%= notice %></p>

<h1>Work Order Collections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_order_collections.each do |work_order_collection| %>
      <tr>
        <td><%= work_order_collection.name %></td>
        <td><%= link_to 'Show', work_order_collection %></td>
        <td><%= link_to 'Edit', edit_work_order_collection_path(work_order_collection) %></td>
        <td><%= link_to 'Destroy', work_order_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Order Collection', new_work_order_collection_path %>
